<!DOCTYPE html>
<html>
	<head>
		<title>Quiz Website</title>
		<link rel="stylesheet" type="text/css" href="styles.css" />
	</head>
	<body>
		<div class="container">
			{{{body}}}
		</div>
	</body>
</html>
