<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
  <h1 class="w3-xxxlarge w3-text-theme">Quiz Menu</h1>
		<a href="#" class="w3-bar-item w3-button">Otters</a>
		<a href="#" class="w3-bar-item w3-button">Anteaters</a>
		<a href="#" class="w3-bar-item w3-button">Owls</a>
		<a href="#" class="w3-bar-item w3-button">Jellyfish</a>
		<button class="w3-bar-item w3-button" onclick="w3_close()">Close <i class="fa fa-remove"></i></button>
</nav>

<!-- Header Banner -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i> 
  <div class="w3-center">
  </div>
</header>

<!-- Heading Text -->
<div class="w3-container">
<hr>
<div class="w3-center">
  <h1 style="font-family:'permanent marker';">Animal Quiz</h1>
</div>

<hr>
<div class="w3-center">
  <h2>Brought to you by Team Anteater</h2>
  <p class="w3-large">Click on an animal to start a quiz!</p>
</div>
<br>

<div class="w3-row-padding"> 

<div class="w3-quarter">
<div class="w3-card-5">
  <a href="/otter/1">
  <img src="./otter.png" alt="Otter illustration" style="width:100%;height:auto"></a>
  <div class="w3-container">
  </div>
</div>
</div>

<div class="w3-quarter">
<div class="w3-card-5">
  <a href="/anteater/1">
  <img src="./anteater.png" alt="Anteater illustration" style="width:100%;height:auto"></a>
  <div class="w3-container">
  </div>
</div>
</div>

<div class="w3-quarter">
<div class="w3-card-5">
  <a href="/owl/1">
  <img src="./owl.png" alt="Owl illustration" style="width:100%;height:auto"></a>
  <div class="w3-container">
  </div>
</div>
</div>

<div class="w3-quarter">
<div class="w3-card-5">
  <a href="/jellyfish/1">
  <img src="./jellyfish.png" alt="Jellyfish illustration" style="width:100%;height:auto"></a>
  <div class="w3-container">
  </div>
</div>
</div>
</div>
</div>
<hr>

